<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"/>
    <title>Список товаров</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header ::header"></header>
</nav>
<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <h5 class="=my-0 mr-md-auto font-weight-normal">PAZL CLAB</h5>
    <nav class="my-2 m2-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/">Главная</a>
        <a class="p-2 text-dark" href="/item/itemShow">Товары в наличи (все)</a>
        <a class="p-2 text-dark" href="/item">Редактировать товар (админ)</a>
        <a class="p-2 text-dark" href="/item/itemAdd">Добавить товар (админ)</a>

    </nav>
</div>
<div class="container mt-5">
    <h1>Список товаров</h1>
    <div th:each="el : ${items}" class="alert alert-info mt-2">
        <h3 th:text="${el.name}"/>
        <a th:href="'/item/itemDetails/' + ${el.id}" class="bth bth-warning">Детальнее</a>
    </div>
</div>
<div th:insert="blocks/footer ::footer"></div>
</body>
</html>