<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавление товара</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header ::header"></header>
</nav>
<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <h5 class="=my-0 mr-md-auto font-weight-normal">PAZL CLAB</h5>
    <nav class="my-2 m2-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/">Главная</a>
        <a class="p-2 text-dark" href="/item/itemShow">Товары в наличи (все)</a>
        <a class="p-2 text-dark" href="/item">Редактировать товар (админ)</a>
        <a class="p-2 text-dark" href="/item/itemAdd">Добавить товар (админ)</a>
    </nav>
</div>
<div class="container mt-5 mb-5">
    <h1>Добавление товара</h1>
    <form action="/item/itemAdd" method="post">
        <input type="text" name="name" placeholder="Введите название товара" class="form-control"></br>
        <input type="text" name="count" placeholder="Введите количество товара" class="form-control"></br>
        <textarea name="description" placeholder="Введите описание товара" class="form-control"></textarea></br>
        <button type="submit" class="btn btn-success">Добавить товар</button>
    </form>
</div>
</div>
<div th:insert="blocks/footer ::footer"></div>
</body>
</html>